
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 100vh;
    background-color: brown;
}

.barra{
    position: absolute;
    width: 60px;
    height: 100vh;
    background-color: aliceblue;
    overflow: hidden;
    transition: 0.5s;

}

.barra:hover{
    width: 210px;
}

.barra ul{
    position: relative;
    height: 100vh;

}

.barra ul li{
    list-style: none;

}

.barra ul li:hover{
    background-color: black;
    
}
.barra ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.barra ul li a .icono{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: chocolate;

}
.barra ul li a .texto{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.bloquefinal {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
.bloquefinal .cuadroimagen {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;


}
.bloquefinal .cuadroimagen img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
